{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="groupsquerypage">

    <form action="{% url 'all_groups' %}" method="get">
        <input type="text" name="q" placeholder="search all groups...">
        <input class="submit-query" type="submit" value="search">
    </form>

    {% if query_track %}
        <h2>SEARCH RESULTS</h2>
    {% else %}
        <h2>MY GROUPS</h2>
    {% endif %}

    {% for groups in groups_data %}
    
        <a href="{% url 'groups' groups.id %}" style="text-decoration: none; color: aliceblue;">
            <div class="group-wrapper">
                <span class="group-title">{{ groups.title }}</span>

                <div class="group-center-elements">
                    <i><span>created by {{ groups.owner.name }}</span> | <span>{{ groups.participants.count }} participants</span></i>
                </div> 

                <div>
                    {% if user in groups.participants.all %}
                        <a href="{% url 'leave_group' groups.id %}">
                            <button class="group-button">leave</button>
                        </a>
                    {% else %}
                        <a href="{% url 'join_group' groups.id %}">
                            <button class="group-button">join</button>
                        </a>
                    {% endif %}
                    <br>
                </div>
            </div>
        </a>

    {% endfor %}

</div>


{% endblock %}



