{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="groupsquerypage">

    <form action="{% url 'all_groups' %}" method="get">
        <input type="text" name="q" placeholder="search groups...">
        <input class="submit-query" type="submit" value="search">
    </form>

    {% if query_track %}
        <h2>SEARCH RESULTS</h2>
    {% else %}
        <h2>MY GROUPS</h2>
    {% endif %}

    {% for groups in groups_data %}

        <div class="group-wrapper">
            <span class="group-title">{{ groups.title }}</span>

            <div class="group-center-elements">
                <i><span>created by {{ groups.owner.name }}</span> | <span>{{ groups.participants.count }} participants</span></i>
            </div> 

            <div>
                {% if user in groups.participants.all %}
                    <button class="group-button">leave</button>
                {% else %}
                    <button class="group-button">join</button>
                {% endif %}
                <br>
            </div>
        </div>

    {% endfor %}

</div>


{% endblock %}



